<div class="bg-gray-900 py-3 px-6 shadow-2 flex align-items-center justify-content-between fixed w-full border-bottom-1 border-gray-800 z-5"
    style="min-height: 84px">
    <img src="assets/Logo-White.png" alt="Image" height="40" class="mr-0 lg:mr-6">
    <a pRipple class="cursor-pointer block lg:hidden text-gray-400" pStyleClass="@next" enterClass="hidden"
        leaveToClass="hidden" [hideOnOutsideClick]="true">
        <i class="pi pi-bars text-4xl"></i>
    </a>
    <div
        class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full bg-gray-900 left-0 top-100 z-1 shadow-2 lg:shadow-none border-1 lg:border-none border-gray-800">
        <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
            <li>
                <a pRipple (click)="scroll('home')"
                    class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                    <i class="pi pi-home mr-2"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a pRipple (click)="scroll('portfolio')"
                    class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                    <i class="pi pi-folder-open mr-2"></i>
                    <span>Portfolio</span>
                </a>
            </li>
            <li>
                <a pRipple (click)="scroll('about')"
                    class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                    <i class="pi pi-user mr-2"></i>
                    <span>About Me</span>
                </a>
            </li>
        </ul>
        <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
            <li class="flex-order-2 lg:flex-order-0">
                <p-button label="Download CV" [raised]="true" />
            </li>
            <li class="border-top-1 border-gray-800 lg:border-top-none">
                <a pRipple href="https://www.linkedin.com/in/coltstreet/" target="_blank"
                    class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                    <i class="pi pi-linkedin mr-2"></i>
                </a>
            </li>
            <li class="border-top-1 border-gray-800 lg:border-top-none">
                <a pRipple href="https://github.com/COLTstreet" target="_blank"
                    class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                    <i class="pi pi-github mr-2"></i>
                </a>
            </li>
        </ul>
    </div>
</div>